/* =========================================
========= FONTS ==========================*/
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

     $font-primary: 'Russo One', sans-serif;
     $font-secondary: 'Monoton', cursive;


/* =========================================
========= COLORS =========================*/

     $color-gray: #a3a1a1; /* Gray */
     $color-black: #333; /* Black*/
     $color-white: #FFF; /* White */
     $color-green: #6FB536; /* Green */


