/*====================================================================
============  ARTICLE / ASIDE ====================================
====================================================================*/


.form_custom {
  color: $color-gray;
  background-color: transparent;
  border-color: $color-gray solid 5px;
}