/*====================================================================
============  BORDERS ============================================
====================================================================*/


.border_right_custom {
  border-right: $color-gray solid 2px;
}

.border_bottom_custom {
  padding-top: 40px;
  border-bottom: $color-gray solid 2px;
}

.border_left_custom {
  padding-left: 40px;
  border-left: $color-gray solid 2px;

}