/*====================================================================
============  BUTTONS CUSTOM ====================================
====================================================================*/



.regular_button_custom {
      color: $color-black;
      font-size: 18px;
      font-family: $font-primary;
      background-color: $color-blue;
      padding: 6px 12px;
      border-radius: 5px;
      -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
      -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
      transition: background 0.3s linear 0s, color 0.3s linear 0s;
      -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
      filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.regular_button_custom:hover {
      color: $color-black;
      background-color: $color-gray;
}