
/*form styles*/
#msform {
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: $color-blue;
  border: 0 none;
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 3%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));

  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 3px solid  $color-black;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: $font-primary;
  color: $color-black;
  font-size: 20px;
  background-color: transparent;
}
/*buttons*/
#msform .action-button {
  width: 25%;
  background: $color-green;
  font-weight: bold;
  font-family: $font-primary;
  color: $color-black;
  text-transform: uppercase;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 7px 5px;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px $color-green, 0 0 0 3px $color-green;
}
/*headings*/
.fs-title {
  font-size: 40px;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 50px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 35px;
  color: $color-black;
  margin-bottom: 40px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 100px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: $color-blue;
  text-transform: uppercase;
  font-size: 20px;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 20px;
  color: $color-black;
  background: $color-blue;
  border-radius: 5px;
  margin: 0 98px;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 4px;
  background: $color-blue;
  position: absolute;
  left: -50%;
  top: 18px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: $color-green;
  color: $color-blue;
}

