.error {
  color: #d72828;
  font-size: 18px;
  text-align: left;
  background-color: transparent;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0px;
  display: block;
}

.error_img {
  width: 20px;
  margin: 0 5px 2px 10px;
}
