#header_custom_main {
	background-color: $color-gray;

		.logo_custom {
			font-size: 60px;
			font-weight: bold;
			color: $color-black;
			text-decoration: none;
			-o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
			-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
			transition: background 0.3s linear 0s, color 0.3s linear 0s;
		}

			.logo_custom:hover {
				color: $color-white;
			}


		.header_custom_right {
			padding-top: 30px;
			margin: 0px;

		

			.menu_button_custom {
				color: $color-gray;
				background: $color-black;
				font-family: $font-secondary;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				padding: 7px 20px;
				margin-right: 3px;
				border-radius: 5px;
				-o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
				-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
				transition: background 0.3s linear 0s, color 0.3s linear 0s;
			
			}
					
					
				.menu_button_custom:hover {
					background: $color-white;
					color: $color-gray;
				}
		}


			
		.search_custom {

			padding-top: 22px;
			padding-left: 0;
			margin: 0;	
		
			.form-outline {
				input[type="text"], input[type="search"], input[type=search]{
					width: 178px;
					border: $color-black 2px solid;
					background-color: transparent;
					color: $color-black;
			
					&:hover {
						border-color: $color-black;
					}
			
					&:focus {
						border-color: $color-black;
					}
				}
			}
		}
		

}





		
		
		 

