body {
	color: $color-gray;
	font-family: $font-primary;
	background-color:$color-black;
}

p {
	line-height: 2;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}

blockquote {
	border-left: $color-blue solid 3px;
}
